<div class='form-box'>
  <h2 class="transactions-title">Create a new task</h2>

  <%= simple_form_for @task do |f| %>
    <%= f.input :title %>
    <%= f.input :child_id, :as => :hidden, :input_html => { :value => @child.id } %>
    <%= f.button :submit, class: 'btn-transaction' %>
  <% end %>
</div>
