
<h1>Family Expences Track</h1>

<div class="main-container">
  <div>
    <p class="banner-description">
      <%# <span id="banner-typed-text"></span> %>
      <i class="far fa-check-circle"></i>
      A new way to teach your kids a good money habits
    </p>
    <p class="banner-description">
      <i class="far fa-check-circle"></i>
      Kids learn about saving, investing and more
    </p>
    <p class="banner-description">
      <i class="far fa-check-circle"></i>
      Incentive your kids do their tasks and be rewarded
    </p>
  </div>
  <div>
     <%= image_tag "saving.svg", alt: "Savings", class: "banner-image" %>
  </div>
</div>
