
<h1>Family Expences Track</h1>

<div class="main-container">
  <div>
    <p>A new way to control your kids financial knoledge and responsability</p>
  </div>

  <div>
     <%= image_tag "saving.svg", alt: "Savings", class: "banner-image" %>
  </div>
</div>
