
<h1 class="home-page-title">Family Expences Track</h1>

<div class="main-container">
  <div>
    <p class="banner-description">
      <%# <span id="banner-typed-text"></span> %>
      <i class="far fa-check-circle"></i>
      A new way to teach your kids a good money habits
    </p>
    <p class="banner-description">
      <i class="far fa-check-circle"></i>
      Kids learn about saving, investing and more
    </p>
    <p class="banner-description">
      <i class="far fa-check-circle"></i>
      Incentive your kids do their tasks and be rewarded
    </p>
  </div>
  <div>
     <%= image_tag "saving.svg", alt: "Savings", class: "banner-image" %>
  </div>
</div>

<div class="site-examples">
  <div class="home-exemple">
    <div class="examples-description">
      <p>Keep track of your child expences</p>
    </div>

    <div>
      <%= image_tag "transactions.png", alt: "Transactions", class: "banner-image" %>
    </div>
  </div>


  <div class="home-exemple">

    <div>
      <%= image_tag "tasks.png", alt: "To do list", class: "banner-image" %>
    </div>

    <div class="examples-description">
      <p>Create tasks</p>
    </div>
  </div>

</div>
