.family-cards {
  display: flex;
  margin: 0 auto;
}
.card-trip {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 200px;
  height:200px;
}
