.family-cards {
  display: flex;
  margin: 0 auto;
}
.card-trip {
  display: flex;
  margin: 0 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  width: 200px;
  height:200px;
}

.balance-card {
  padding: 10px;
  font-size: 1.3rem;
  margin: 10px auto;
  background-image: linear-gradient(to right, #11998e,#38ef7d);
  width: 250px;
  height: 150px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  color: white;

  .balance-info {
    height: 90px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }

  .balance-name {
    align-self: flex-end;
  }
  #card {
    font-size: 2.2rem;
    text-shadow: 1px 1px 2px  gray;
  }
}

.transactionButton {
  align-self: flex-end;
  background: #fff;
  color: #11998e;
  font-weight: 600;
  border-radius: 15px;
  padding: 5px 10px;
  text-decoration: none;
  font-size: .8rem;

  &:hover {
    color: #3853b3;
    text-decoration: none;
  }

}



.card-transaction-item {
  background-color: white;
  display: flex;
  width: 600px;
  max-width: 800px;
  align-items: center;
  justify-content: space-between;
  padding:  5px 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .transaction-description {
    display: flex;
    align-items: center;

    i {
      font-size: 1.7rem;
      margin-right: 15px;
      padding: 5px 8px;
      border-radius: 3px;
    }

    small {
      color: gray;
    }

    p {
      text-align: left;
      margin: 0;
      line-height: 1.4;
    }
  }
  .amount {
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
  }
}

.trash {
  color: gray;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  &:hover {
    opacity: 1;
  }
}
