@media only screen and (max-width: 400px) {

 .card-transaction-item, .task-card {
   max-width: 370px;
 }
  .tabs-underlined .tab-underlined {
    padding: 0;
    margin: 0 4px;
    i {
      display: none;
    }
  }

  .banner-description {
    font-size: 7px;
    font-weight: bold;
  }

  .banner-image {
    width:120px;
  }

  .home-page-title {
    font-size: 15px;
  }
  .site-examples {
    max-width: 100%;
    display: block;
  }

  .home-exemple {
    max-width: 100%;
    flex-direction: column;
  }

  .image-examples-div img {
    max-width: 80%;
  }

  .home-exemple.reverse {
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  .brand {
    display: none;
  }
  ////

  body {
    font-size: .75em;
    max-width: 95%;

    h2 {
      font-size: 1.5rem;
    }
  }


  .container {
    margin: 0 auto;
  }

  .family-cards {
    justify-content: center;
    align-items: center;
  }

}


@media only screen and (min-width: 400px) and (max-width: 767px) {

  //home page

  .home-page-title {
    font-size: 25px;
  }

  .banner-description {
    font-size: 9px;
    font-weight: bold;
  }

  .banner-image {
    width:180px;
  }

  .site-examples {
    max-width: 100%;
    display: block;
  }

  .home-exemple {
    max-width: 100%;
    flex-direction: column;
  }

  .image-examples-div img {
    max-width: 100%;
  }

  .home-exemple.reverse {
    flex-direction: column-reverse;
    margin-top: 20px;
  }

  ////

  body {
    font-size: .75em;
    max-width: 95%;

    h2 {
      font-size: 1.5rem;
    }
  }


  .container {
    margin: 0 auto;
  }

  .family-cards {
    justify-content: center;
    align-items: center;
  }

  .content-item.fade.show {
    width: 100%;
  }

  .form-group.radio_buttons.optional.transaction_transaction_type {
    width: 90%;
  }

  .content {
    max-width: 90%;
    margin: auto;
  }

  .card-transaction-item, .task-card {
    width: 100%;
  }

  .brand {
    display: none;
  }

  .list-inline a i {
    display: none;
  }


  .tabs-underlined .tab-underlined.active  {
    border: none;
  }

  .tabs-underlined .tab-underlined {
    margin: 0;
  }

  .navbar.navbar-expand.navbar-light.navbar-lewagon {
    width: 100%;
  }

  .auth-form {
    margin: 10px;
  }

  .login {
    width: 120px;
    height: 150px;
  }

}




// @media only screen and (min-width: 768px) {...}


// @media only screen and (min-width: 992px) {...}

// @media only screen and (min-width: 1200px) {...}
