
@media only screen and (max-width: 600px) {

  //home page

  .home-page-title {
    font-size: 25px;
  }

  .banner-description {
    font-size: 9px;
    font-weight: bold;
  }

  .banner-image {
    width:180px;
  }

  ////
  body {
    font-size: .75em;
    max-width: 95%;

    h2 {
      font-size: 1.5rem;
    }
  }


  .container {
    margin: 0 auto;
  }

  .family-cards {
    justify-content: center;
    align-items: center;
  }

  .content-item.fade.show {
    width: 100%;
  }

  .form-group.radio_buttons.optional.transaction_transaction_type {
    width: 90%;
  }

  .content {
    max-width: 90%;
    margin: auto;
  }

  .card-transaction-item, .task-card {
    width: 100%;
  }

  .brand {
    display: none;
  }

  .list-inline i {
    display: none;
  }


  .tabs-underlined .tab-underlined.active  {
    border: none;
  }

  .tabs-underlined .tab-underlined {
    margin: 0;
  }

  .navbar.navbar-expand.navbar-light.navbar-lewagon {
    width: 100%;
  }

  .auth-form {
    margin: 10px;
  }

  .login {
    width: 100px;
    height: 150px;
  }

}

// @media only screen and (min-width: 600px) {...}


// @media only screen and (min-width: 768px) {...}


// @media only screen and (min-width: 992px) {...}

// @media only screen and (min-width: 1200px) {...}
